body {
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
  font-family: 'Righteous';
  color: white;
  font-size: 2.8em;
}

.container {
  margin-top: 50px;
  text-align: center;
}

.content {
  text-align: center;
}

.break {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}

.session {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
}

.display {
  margin: 15px 15px;
}

.countDown {
  display: block;
}